.projects-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.project-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card .ant-typography {
  margin-top: 0;
}

.project-card .ant-typography > :last-child {
  margin-bottom: 0;
}
